doctype html
html(lang="en")
html
    head
        title= 'Poll Buddy Dev Site'
        style
            include style.css
    body
        h1='Poll Buddy Dev Site'
        // Github oauth and membership check
        if !githubAuthorized
            a(class='button' href='/github-auth') Authenticate with GitHub to enable full functionality.
        else
            if pollbuddyMember
              p.description Welcome, Poll Buddy member, enjoy full functionality!
            else
                p.description Thank you for authenticating, but unfortunately you are not a member of Poll Buddy, and therefore will not have full functionality.

        // Show running containers
        p.description Currently running instances:
        div
            each instance in devInstances
                div(class='k8s-service')
                    p.description Instance type: #{instance.metadata.labels["dev-instance-type"]}
                    p.description Instance identifier: #{instance.metadata.labels["dev-instance-id"]}
                    p.description Creation timestamp: #{instance.metadata.creationTimestamp}
                    p.description Pod status:
                    div(class='k8s-pods')
                        each pod in instance["pods"]
                            p.description #{pod.metadata.name}: #{pod.status.phase}
                    if githubAuthorized && pollbuddyMember
                        a(class='button-start' href='/api/deployment/start?dev-instance-type=' + instance.metadata.labels["dev-instance-type"] + "&dev-instance-id=" + instance.metadata.labels["dev-instance-id"]) (Re)Start Instance
                        a(class='button-stop' href='/api/deployment/stop?dev-instance-type=' + instance.metadata.labels["dev-instance-type"] + "&dev-instance-id=" + instance.metadata.labels["dev-instance-id"]) Stop Instance
                        a(class='button-delete' href='/api/deployment/delete?dev-instance-type=' + instance.metadata.labels["dev-instance-type"] + "&dev-instance-id=" + instance.metadata.labels["dev-instance-id"]) Delete Instance



