doctype html
html(lang="en")
html
    head
        title= 'Poll Buddy Dev Site'
        style
            include style.css
        script
            include manage_instances.js

    body
        h1='Poll Buddy Dev Site'
        // Github oauth and membership check
        if !githubAuthorized
            a(class='button' href='/github-auth') Authenticate with GitHub to enable full functionality.
        else
            if pollbuddyMember
              p.description Welcome, Poll Buddy member, enjoy full functionality!
            else
                p.description Thank you for authenticating, but unfortunately you are not a member of Poll Buddy, and therefore will not have full functionality.

        // Show running containers
        p.description Currently running instances:
        div
            each instance in devInstances
                div(class='k8s-service')
                    p.description Instance link:
                        a(href='https://dev-' + instance.metadata.labels["dev_instance_id"] + '.pollbuddy.app')  https://dev-#{instance.metadata.labels["dev_instance_id"]}.pollbuddy.app

                    p.description Instance type: #{instance.metadata.labels["dev_instance_type"]}
                    p.description Instance identifier: #{instance.metadata.labels["dev_instance_id"]}
                    p.description Creation timestamp: #{instance.metadata.creationTimestamp}
                    p.description Pod statuses:
                    div(class='k8s-pods')
                        each pod in instance["pods"]
                            p.description #{pod.metadata.name}: #{pod.status.phase}
                    if githubAuthorized && pollbuddyMember
                        button(class='button-start' onclick='deployment_action("' + instance.metadata.labels["dev_instance_type"] + '", "' + instance.metadata.labels["dev_instance_id"] + '", "start")') Start Instance
                        button(class='button-stop' onclick='deployment_action("' + instance.metadata.labels["dev_instance_type"] + '", "' + instance.metadata.labels["dev_instance_id"] + '", "stop")') Stop Instance
                        button(class='button-delete' onclick='deployment_action("' + instance.metadata.labels["dev_instance_type"] + '", "' + instance.metadata.labels["dev_instance_id"] + '", "delete")') Delete Instance
                    p(id=instance.metadata.labels["dev_instance_type"] + '-' + instance.metadata.labels["dev_instance_id"])
                br


